.container {
  .serviceWrapper {
    display: flex;
    padding-bottom: 100px;
    h4 {
      font-size: 14px;
      text-align: center;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
    .service {
      width: 50%;
    }
    .present {
      width: 50%;
    }
  }
}
